@model gestion_des_formations_final.Models.SessionsVm
    <div class="row">
        <div class="col-md-12 center">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Ajouter une session</h5>
                            </div>
                            <div class="card-body">
                                <div class="bt-wizard" id="progresswizard">
                                    <ul class="nav nav-pills nav-fill mb-3">
                                        <li class="nav-item"><a href="#progress-t-tab1" class="nav-link" data-toggle="tab">Session</a></li>
                                        <li class="nav-item"><a href="#progress-t-tab2" class="nav-link" data-toggle="tab">Participant</a></li>

                                    </ul>
                                    <div id="bar" class="bt-wizard progress mb-3" style="height:6px">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                    </div>
                                    <form class="form-1" asp-action="AjouterUneSession">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="tab-content">
                                            <div class="tab-pane active show" id="progress-t-tab1">

                                                <div>
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="form-group row" style="margin-left:-15px;" id="formation">
                                                        <label asp-for="FormationId" class="col-sm-3 col-form-label">Formation*</label>
                                                        <div class="col-sm-9">
                                                            <select class="js-example-data-array form-control" asp-for="FormationId" id="formation" asp-items="ViewBag.FormationId">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="form-group row" id="datesession">
                                                        <label asp-for="DateDebut" id="datedebutlbl">Date debut*</label>
                                                        <div class="col-xs-6">
                                                            <input type="date" id="Datedebut" asp-for="DateDebut" class="mb-3 form-control form-control-sm ">
                                                            <span asp-validation-for="DateDebut" class="text-danger"></span>
                                                        </div>
                                                        <label asp-for="DateFin" id="datefinlbl">Date fin*</label>
                                                        <div class="col-xs-6">
                                                            <input type="date" id="Datefin" value="" asp-for="DateFin" class="mb-3 form-control form-control-sm">
                                                            <span asp-validation-for="DateFin" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="form-group row" id="statut">
                                                        <label asp-for="Statut" class="col-sm-3 col-form-label">Statut</label>
                                                        <div>
                                                            <input type="radio" asp-for="Statut" value="en cours" style=" width: 22px; height: 22px; background-color:blue;" checked="" id="encours">
                                                            <label class="cr">En cours</label>
                                                            <input type="radio" asp-for="Statut" value="planifié" style=" width: 22px; height: 22px; background-color: blue" id="planifie">
                                                            <label class="cr">Planifiée</label>
                                                            <input type="radio" asp-for="Statut" value="terminé" style=" width: 22px; height: 22px; background-color: blue" disabled="" id="termine">
                                                            <label class="cr">Terminée</label>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="form-group row" id="salle">
                                                        <label asp-for="SalleId" class="col-sm-3 col-form-label">Salle*</label>
                                                        <div class="col-sm-9">
                                                            <select class="js-example-data-array form-control" asp-for="SalleId" asp-items="ViewBag.SalleId">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="form-group row" id="formateur">
                                                        <label asp-for="FormateurId" class="col-sm-3 col-form-label">Formateur*</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" asp-for="FormateurId" asp-items="ViewBag.FormateurId">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="tab-pane" id="progress-t-tab2">

                                                <div id="enrengistrementpart" style="overflow: auto; height: 500px">
                                                    @for (int i = 0; i <= 9; i++)
                                                    {
                                                        <span style="font-weight:bold;"> participant n°@i</span>
                                                        <hr />
                                                        <div class="row col-sm-12">
                                                            <div class="form-group col-sm-4">
                                                                <label asp-for="ParticipantSessions[i].Participant.Nom" class=" col-form-label">Nom</label>
                                                                <input asp-for="ParticipantSessions[i].Participant.Nom" type="text" class="form-control" placeholder="nom du participant  de la session">

                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label asp-for="ParticipantSessions[i].Participant.Prenom" class="col-form-label">Prenom</label>
                                                                <input asp-for="ParticipantSessions[i].Participant.Prenom" type="text" class="form-control" placeholder="prenom du participant  de la session">

                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label asp-for="ParticipantSessions[i].Participant.Email" class="col-form-label">Email*</label>
                                                                <input asp-for="ParticipantSessions[i].Participant.Email" type="text" class="form-control" placeholder="Email du participant  de la session">

                                                            </div>
                                                        </div>
                                                        <div class="row col-sm-12">
                                                            <div class="form-group col-sm-4">
                                                                <label asp-for="ParticipantSessions[i].Participant.Telephone" class="col-sm-3 col-form-label">Tel</label>
                                                                <input asp-for="ParticipantSessions[i].Participant.Telephone" type="text" class="form-control" placeholder="entrer le numéro de telephone du participant  de la session">

                                                            </div>
                                                            <div class="form-group col-sm-4">
                                                                <label asp-for="ParticipantSessions[i].Participant.Adresse" class="col-form-label">Adresse</label>
                                                                <input asp-for="ParticipantSessions[i].Participant.Adresse" type="text" class="form-control" placeholder="entrer l'adresse'du participant  de la session">

                                                            </div>
                                                            <!-- <div class="form-group  col-sm-4">
                        <label class="col-form-label">Entreprise</label>
                        <select class=" js-example-data-array form-control" ></select>
                    </div>-->
                                                            <div class="form-group col-sm-4">
                                                                <label class="col-form-label">Statut</label>
                                                                <div>
                                                                    <input asp-for="ParticipantSessions[i].Participant.Statut" type="radio" value="particulier" style=" width: 22px; height: 22px; background-color:blue;" checked="">
                                                                    <label asp-for="ParticipantSessions[i].Participant.Statut" class="cr">Particulier</label>
                                                                    <input asp-for="ParticipantSessions[i].Participant.Statut" type="radio" value="entreprise" style=" width: 22px; height: 22px; background-color: blue ">
                                                                    <label asp-for="ParticipantSessions[i].Participant.Statut" class="cr">Entreprise</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <hr />

                                                    }

                                                </div>

                                            </div>
                                            <button type="submit" class="btn  btn-success fa-pull-right">Ajouter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
        <script>
            $(document).ready(function () {
                    console.log('bonjour');
                    var date = new Date();
                    var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = String(date.getDay()).padStart(2, '0');
                var day = String(date.getDay()).padStart(4, '0');
                    var datedebutpattern = year + '-' + month + '-' + day ;
                    $('#Datedebut').val(datedebutpattern);
                    $('#Datefin').val(datedebutpattern);
            });
          
            $(document).ready(function () {
                $('#progresswizard').bootstrapWizard({
                    withVisible: false,
                    'nextSelector': '.button-next',
                    'previousSelector': '.button-previous',
                    'firstSelector': '.button-first',
                    'lastSelector': '.button-last',
                    onTabShow: function (tab, navigation, index) {
                        var $total = navigation.find('li').length;
                        var $current = index + 1;
                        var $percent = ($current / $total) * 100;
                        $('#progresswizard .progress-bar').css({
                            width: $percent + '%'
                        });
                    }
                });

            });
            $(document).ready(function () {
                var data = [];
                $(".js-example-data-array").select2({
                    data: data
                });
            });

            
    
        </script>
    }
