
@{
    ViewData["title1"] = " Les Formateurs";
    ViewData["title2"] = " Gestion des Formations ";
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                       
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index-2.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">@ViewBag.title2</a></li>
                            <li class="breadcrumb-item"><a href="#!">@ViewBag.title1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

