

<!--Index de formation-->
<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <!-- Multi-column table start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn  btn-primary"><a class="text-white" asp-controller="Formateur" asp-action="AjouterFormateur"><i class="fa fa-plus"></i>&nbsp;&nbsp;Ajouter un formateur</a></button>
                    </div>
                    <div class="card-body">

                        <div class="dt-responsive table-responsive">

                            <table id="multi-colum-dt" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>Nom  </th>
                                        <th>Prenom  </th>
                                        <th>Email</th>
                                        <th>Adresse</th>
                                        <th>Telephone</th>
                                        <th>Type Formateur</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Armelle</td>
                                        <td>eliane</td>
                                        <td>elianemengouo@gmail.com</td>
                                        <td>rue 2564 ndogbong</td>
                                        <td>682926903</td>
                                        <td>Externe</td>
                                        <td><a href="#" class="text-success"><i class="fa fa-edit fa-2x"></i></a>&nbsp;<a href="#" class="text-danger"><i class="fa fa-trash fa-2x"></i></a>&nbsp;<a href="#" class="text-primary"><i class="fa fa-eye fa-2x" style="color:deepskyblue"></i></a></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Multi-column table end -->
        </div>
    </div>
</section>

