<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Ajouter une formation</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="center">
                                    <div class="form-group">
                                        <label for="intituleformation">Intitule Formation*</label>
                                        <input type="text" class="mb-3 form-control form-control-sm" id="intituleformation" placeholder="Entrer le nom de la formation" required="" name="intituleformation">
                                        <small id="formationhelp" class="form-text text-muted text-danger"></small>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="margin-left:15px;">
                                            <div class="row">
                                                <div class="col-sm-6"><label for="Prix">Prix*</label></div>
                                                <div class="col-sm-6 text-right"><span>Fcfa</span></div>
                                            </div>
                                            <input type="text" class="mb-3 form-control form-control-sm" id="prix" placeholder="Entrer le prix" required="" name="prix">
                                            <small id="prixhelp" class="form-text text-muted text-danger"></small>
                                        </div>
                                        <div class="form-group" style="margin-left:180px;">
                                            <div class="row">
                                                <div class="col-sm-6"><label for="dureeformation">Duree*</label></div>
                                                <div class="col-sm-6 text-right"><span>jour(s)</span></div>
                                            </div>
                                            <input type="text" class="mb-3 form-control form-control-sm" id="duree" placeholder="Entrer la durée" required="" name="duree">
                                            <small id="dureehelp" class="form-text text-muted text-danger"></small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Formation Certifiée">Formation Certifiée</label>
                                        <div class="row">
                                            <div class="radio radio-primary d-inline" style="margin-left:40px;">
                                                <input type="radio" name="radio-p-fill-5" id="radio-p-fill-5" checked="">
                                                <label for="radio-p-fill-5" class="cr">Oui</label>
                                            </div>
                                            <div class="radio radio-primary d-inline" style="margin-left:80px;">
                                                <input type="radio" name="radio-p-fill-5" id="radio-p-fill-6">
                                                <label for="radio-p-fill-6" class="cr">Non</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description de la formation</label>
                                        <textarea class="form-control" id="description" rows="2" name="description"></textarea>
                                    </div>
                                    <button type="reset" class="btn  btn-danger fa-pull-right" style="margin-left:15px;">Annuler</button>
                                    <button type="submit" class="btn  btn-primary fa-pull-right">Ajouter</button>
                                </form>
                            </div>

                        </div>
                        <script>
                            // Example starter JavaScript for disabling form submissions if there are invalid fields
                            (function () {
                                'use strict';
                                window.addEventListener('load', function () {
                                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                    var forms = document.getElementsByClassName('needs-validation');
                                    // Loop over them and prevent submission
                                    var validation = Array.prototype.filter.call(forms, function (form) {
                                        form.addEventListener('submit', function (event) {
                                            if (form.checkValidity() === false) {
                                                event.preventDefault();
                                                event.stopPropagation();
                                            }
                                            form.classList.add('was-validated');
                                        }, false);
                                    });
                                }, false);
                            })();
                        </script>

                    </div>
                </div>

            </div>
            <!-- [ form-element ] end -->

        </div>
    </div>
</section>
