@{
    ViewData["title"] = "Formations";
    ViewData["second_title"] = "Mes Formations";
}

<!-- [ Main Content ] start -->
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">@ViewBag.second_title</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">@ViewBag.title</a></li>
                            <li class="breadcrumb-item"><a href="#!">@ViewBag.second_title</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>