@model gestion_des_formations_final.Models.Formation
<!-- [ Main Content ] start -->

        <div class="row">
            <!-- [ form-element ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Modifier une formation</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <form class="center" asp-action="ModifierFormation">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="FormationId" />
                                    <div class="form-group">
                                        <label asp-for="Intitule">Intitule Formation*</label>
                                        <input type="text" asp-for="Intitule" class="mb-3 form-control form-control-sm" placeholder="Entrer le nom de la formation">
                                        <span asp-validation-for="Intitule" id="formationhelp" class="form-text text-muted text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="form-group" style="margin-left:15px;">
                                            <div class="row">
                                                <div class="col-sm-6"><label asp-for="Prix">Prix*</label></div>
                                                <div class="col-sm-6 text-right"><span>Fcfa</span></div>
                                            </div>
                                            <input type="text" asp-for="Prix" class="mb-3 form-control form-control-sm" id="prix" placeholder="Entrer le prix">
                                            <span asp-validation-for="Prix" id="prix-help" class="form-text text-muted text-danger"></span>
                                        </div>
                                        <div class="form-group" style="margin-left:180px;">
                                            <div class="row">
                                                <div class="col-sm-6"><label asp-for="Duree">Duree*</label></div>
                                                <div class="col-sm-6 text-right"><span>jour(s)</span></div>
                                            </div>
                                            <input type="text" asp-for="Duree" class="mb-3 form-control form-control-sm" id="duree" placeholder="Entrer la durée">
                                            <span asp-validation-for="Duree" id="duree-help" class="form-text text-muted text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="FormationCertifiee">Formation Certifiée</label>
                                        <div class="row">
                                            @if (Model.FormationCertifiee == true)
                                            {
                                                <div class="row">
                                                    <input type="radio" checked="" asp-for="FormationCertifiee" value="true" style="margin-left: 20px; width: 22px; height: 22px;">
                                                    <label asp-for="FormationCertifiee" class="cr">Oui</label>
                                                    <input type="radio" asp-for="FormationCertifiee" value="false" style="margin-left: 130px; width: 22px; height: 22px; ">
                                                    <label asp-for="FormationCertifiee " class="cr">Non</label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <input type="radio" asp-for="FormationCertifiee" value="true" style="margin-left: 20px; width: 22px; height: 22px;">
                                                    <label asp-for="FormationCertifiee" class="cr">Oui</label>
                                                    <input type="radio" asp-for="FormationCertifiee" value="false" style="margin-left: 130px; width: 22px; height: 22px;" checked="">
                                                    <label asp-for="FormationCertifiee " class="cr" >Non</label>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description">Description de la formation</label>
                                        <textarea asp-for="Description" class="form-control" id="description" rows="2"></textarea>
                                    </div>
                                    <button type="reset" class="btn  btn-danger fa-pull-right" style="margin-left:15px;"><a class="text-white" asp-controller="Formation" asp-action="Index">Annuler</a></button>
                                    <button type="submit" class="btn  btn-primary fa-pull-right">Mise à jour</button>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
            <!-- [ form-element ] end -->
        </div>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#prix').hover(function () {
                var b = $('#prix').val();
                if ($.isNumeric(b)) {
                    $('#prix-help').text(' ');
                } else {
                    $('#prix').text(" ");
                    $('#prix').focus();
                    $('#prix-help').text('entrer uniquement les chiffres');
                }
            }),
                $('#duree').hover(function () {
                    var b = $('#duree').val();
                    if ($.isNumeric(b)) {
                        $('#duree-help').text(' ');
                    } else {
                        $('#duree').focus();
                        $('#duree-help').text('entrer uniquement les chiffres');
                    }
                });

        });
    </script>
}


