@model gestion_des_formations_final.Models.Salle

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <!-- [ form-element ] start -->
    <div class="col-sm-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="center" asp-action="Create" method="post">
                            <div class="col-md-12  fa-pull-right">
                                <span class="text-danger fa-pull-right">@ViewBag.message</span></div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Designation" class="control-label">Désignation<span class="text-c-blue">*</span></label>
                                    <input asp-for="Designation" class="form-control" />
                                    <span asp-validation-for="Designation" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Lieu" class="control-label">Lieu<span class="text-c-blue">*</span></label>
                                    <input asp-for="Lieu" class="form-control" />
                                    <span asp-validation-for="Lieu" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn  btn-danger" style="align-content:center"><a class="text-white" asp-controller="Salles" asp-action="Index"> Retour</a></button>
                                    <input type="submit" value="Ajouter" class="btn  btn-primary fa-pull-right" />
                                </div>
</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-2"></div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var data = [];
            $(".js-example-data-array").select2({
                data: data
            });
        });


    </script>
}
