
<div class="pcoded-main-container">
    <div class="pcoded-content">
     
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- card réservée pour les chiffres  -->
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-body" style="margin-bottom:32%">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-body" style="margin-bottom:32%">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-body" style="margin-bottom:32%">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-red order-card">
                    <div class="card-body" style="margin-bottom:32%">
                        
                    </div>
                </div>
            </div>
            <!-- fin de la partie card -->
        </div>
    </div>
</div>
     